.styleOne {
  margin: 25px;
  width: 200px;
  height: 250px;
  background-color: rgb(254,210,38);
  border: solid rgb(254,210,38) 1px;
}

.styleTwo {
  margin: 25px;
  width: 200px;
  height: 250px;
  background-color: rgb(5,182,232);
  border: solid rgb(5,182,232) 1px;
}

.styleThree {
  margin: 25px;
  width: 200px;
  height: 250px;
  background-color: rgb(232,33,121);
  border: solid rgb(232,33,121) 1px;
}

.styleFour {
  margin: 25px;
  width: 200px;
  height: 250px;
  background-color: rgb(131,194,63);
  border: solid rgb(131,194,63) 1px;
}

.card-title {
  margin-bottom: 15px;
  color: white;
  font-size: 25px;
}

p {
  color: white;
  font-size: 20px;
}

.temp {
  margin: 10px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
